{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{deps, [
    {recon, "2.3.4"},
    {lager, "3.6.0"}
]}.

%% for plugins
{plugins, [
    {rebar3_appup_plugin, "2.4.1"}
]}.

{shell, [
    {apps, [net_server]},
    {config, "config/sys.config"}
]}.
{dist_node, [
    {name, 'net_server_dev@127.0.0.1'},
    {setcookie, 'net_server_dev'}
]}.

%% for test
{eunit_tests, [
    {dir, "test"}
]}.

{ct_first_files, []}.
{ct_opts, [
    {sys_config, "./config/ct_sys.config"},
    {label, net_server},
    {dir, ["test/ct"]},
    % {suite, []},      % 只测试指定suite
    % {testcase, []},   % 只测试指定testcase
    {config, ["test/ct/ct.config"]},
    {ct_hooks, [{net_ct_hook, []}]}
]}.
{ct_readable, false}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{relx, [
    {release, {net_server, 
        "0.1.0" %% release_vsn
        }, [
        net_server,
        file_server
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{profiles, [
    % 正式包
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true}
        ]}
    ]},

    % test
    {test, [
        {dist_node, [{name, 'net_server_test@127.0.0.1'}]},
        {erl_opts, [
            export_all
        ]},
        {deps, [
            {meck, "0.8.9"}
        ]}
    ]}
]}.

{alias, [
    {test, [{eunit, "-v"}, {ct, "-v"}, {cover, "-v"}]}
]}.
